

#mainCanvas {
    display: flex;
    border: solid rgba(0, 0, 0, 0.384);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.pixel {
    margin: 0;
    padding: 0;
}

.pixel:hover {
    background-color: gray;
}
.pixel-filled {
    background-color: black;
    z-index:10;
}
